@import "../../../node_modules/mdi/scss/materialdesignicons";

.#{$mdi-css-prefix}-hc-lg {
  font-size: (4em / 3);
  line-height: (3em / 4);
  vertical-align: -15%;
}
.#{$mdi-css-prefix}-hc-2x {
  font-size: 2em;
}
.#{$mdi-css-prefix}-hc-3x {
  font-size: 3em;
}
.#{$mdi-css-prefix}-hc-4x {
  font-size: 4em;
}
.#{$mdi-css-prefix}-hc-5x {
  font-size: 5em;
}

@import "mixins";
@import "variables";

$zmdi-font-path: "../lib/fonts";
/*
*[class^="mt-"],*[class*=" mt-"] {
  box-sizing: border-box;
}*/

@import "components/button";
@import "components/checkbox";
@import "components/dialog";
@import "components/card";
@import "components/field";
@import "components/list";
@import "components/progress";
@import "components/radiobutton";
@import "components/sidebar";
@import "components/tabs";
@import "components/toolbar";


.md-empty:before{
  content: "\f299";
  visibility: hidden;
}

.mt-top-separator {
  border-top: solid 1px $text-dark-12;
}

.mt-side-by-side {
  @include flexible_host_stretch_row;
  > * {
    @include flexible_guest_stretch;
    flex:1 1 50%;
  }
}

.mt-as-link {
  cursor:pointer;
}

.mt-action-icon {
  position:relative;
  .mt-action-icon-ripple {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255,255,255,.5);
    &.is-active{
      animation: ripples 0.5s ease-in;
    }
  }

  /* Ripples animation */
  @keyframes ripples {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      width: 48px;
      padding-bottom: 48px;
      opacity: 0;
    }
  }
}


@import "components/responsive";
