.gbc_ApplicationHostWidget {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  @include fill-absolute;
}
.mt-centralcontainer.mt-sidebar-unavailable{
  left:0!important;
}
.mt-centralcontainer-content {
  position: relative;
  > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}