$gbc-mt-checkbox-primary: $gbc-primary-color;
$gbc-mt-checkbox-primary-check: $mt-white;
$gbc-mt-checkbox-secondary: $gbc-secondary-color;
$gbc-mt-checkbox-disabled: $gbc-disabled-color;

.mt-checkbox {
  position: relative;
  cursor: default;
  min-width: $gbc-checkbox-size;
  height: $gbc-checkbox-size;
  border: 2px solid $gbc-mt-checkbox-secondary;
  border-radius: 2px;

  &.checked {
    background-color: $gbc-mt-checkbox-primary;
    border-color: $gbc-mt-checkbox-primary;

    & > .mt-checkbox-mark {
      position: absolute;
      top: 2px;
      left: 1px;
      transform: rotate(-45deg);
      height: $gbc-checkbox-size - 10px;
      width: $gbc-checkbox-size - 6px;
      border-width: 2px;
      border-color: $gbc-mt-checkbox-primary-check;
      border-left-style: solid;
      border-bottom-style: solid;
      border-top-style: none;
      border-right-style: none;
      border-radius: 0;
    }
  }

  &.indeterminate > .mt-checkbox-mark {
    position: absolute;
    top: ($gbc-checkbox-size / 2) - 4px;
    left: 2px;
    height: 0;
    width: $gbc-checkbox-size - 8px;
    border-width: 2px;
    border-color: $gbc-mt-checkbox-secondary;
    border-left-style: none;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-style: none;
    border-radius: 0;
  }
}

.disabled{
  .mt-checkbox{
    border-color: $gbc-mt-checkbox-disabled;

    &.checked {
      background-color: $gbc-mt-checkbox-disabled;
    }

    &.indeterminate > .mt-checkbox-mark {
      border-color: $gbc-mt-checkbox-disabled;
    }
  }
}