.mt-field {
  border:none;
  background: $gbc-field-background-color;
  border-bottom: solid 2px $gbc-primary-light-color;
  padding: $gbc-margin-ratio*2px $gbc-margin-ratio*6px;
  display: flex;
  align-items: center;
  cursor: text;
  border-radius: 2px;
  box-shadow: inset 0 1px $gbc-margin-ratio*4px rgba(0,0,0,.24);

  &.gbc_Focus {
    border:none;
    outline: none;
    border-bottom: solid 2px $gbc-primary-medium-color;
    box-shadow: inset 0 1px $gbc-margin-ratio*4px rgba(0,0,0,.24), inset 0 1px 1px rgba(0,0,0,.24);
  }
  input, textarea {
    flex:1 1 0px;
    background-color: transparent;
    resize: none;
    outline: 0;
    cursor: inherit;
  }
  &.readonly {
    background-color: $gbc-field-readonly-background-color;
    cursor: default !important;
    input, textarea{
      cursor: default !important;
    }
  }
  &.disabled {
    background-color: $gbc-field-disabled-background-color;
    cursor: default !important;
  }
  &.gbc_NoBorder {
    background-color: transparent;
  }

  .g_measuring & {
    min-height: $field-default-height;
  }

  .g_measured & {
    height: 100%;
  }

  .g_measuring .mt-field & {
    min-height: auto;
    padding:0 !important;
  }

  .g_measured .mt-field & {
    height: auto;
    padding:0 !important;
  }
}


