.mt-tabs {
  display: flex;
  flex-direction: column;
}
.mt-tab-titles-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;
}
.mt-tab-items {
  @include flexible_guest_stretch;
  position: relative;
  overflow: hidden;
  display: flex;
}
.mt-tab-items-container {
  flex: 1 1 auto;
  position: relative;
  margin: $gbc-margin-ratio*6px;
  overflow: hidden;
}
.mt-tab-item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: $z-index-Normal;
  > * {
    width: 100%;
    height: 100%;
  }
  &.mt-tab-current {
    pointer-events: all;
    //opacity: 1;
    z-index: $z-index-above-Normal;
  }
}

.mt-tab-previous, .mt-tab-next {
  flex:0 0 auto;
  transition: opacity 0.3s ease;
  opacity: 0.1;
  font-size: $gbc-font-size-ratio*32px;
  text-align: center;
  width: $gbc-font-size-ratio*72px;
}

.mt-tab-titles {
  display:flex;
  position:relative;
  flex-direction: row;
  overflow: hidden;
  @include flexible_guest_stretch;
  white-space: nowrap;
}
.mt-tab-titles-container {
  display: flex;
  .gbc_ImageWidget {
    display: inline-block;
  }
}
.mt-tab-title {
  display: inline-block;
  &:hover {
    cursor: pointer;
  }
}

.mt-tab-title-text {
  min-width: 1px;
  min-height: 1px;
  display: inline-block;
  color: $gbc-primary-text-color;
}