$gbc-UserInterfaceWidget-BarsBackground: $gbc-header-color;

.gbc_UserInterfaceWidget {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: $gbc-primary-background-color;

  > .gbc_barsContainer {
    background-color: $gbc-UserInterfaceWidget-BarsBackground;
    z-index: $z-index-BarsContainer;
    > .gbc_topMenuContainer {
      display: flex;
      z-index: $z-index-TopMenu;
      &:not(:empty) + .gbc_toolBarContainer:not(:empty) {
        border-top: 1px solid $gbc-separator-color;
      }
    }
    > .gbc_toolBarContainer {
      display: flex;
      flex-wrap: wrap;
      z-index: $z-index-Toolbar;

      .gbc_ToolBarWidget:not(.globalToolbar){
        display: none;
        &:last-child{
          display: inherit;
        }
      }
    }
  }

  > .gbc_contentContainer {
    display: flex;
    flex: 1 1 auto;
    /*box-shadow: inset 0 12px 9px -9px rgba(0, 0, 0, 0.24);
    padding-top: 10px;*/
    overflow: hidden;

    > .gbc_startMenuContainer {
      display: flex;
      max-width: 300px;

      &:not(:empty) {
        border-right: 1px solid $gbc-separator-color;
      }

      > * {
        flex: 1 1 auto;
      }
    }
    
    > .containerElement {
      flex:1 1 auto;
      position: relative;

      > .gbc_WindowWidget {
        position: absolute;
        left: 0;
        top: 0;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}