.gbc_WebComponentWidget, .gbc_RichTextWidget {
  &.hidden {
    display: block !important;
    // Put it out of view
    top: -10000px;
    left: -10000px;
    width: 100px;
    height: 100px;
    overflow: hidden;
  }

  .g_measured &.g_measureable {
    width:100%;
    height:100%;
  }
  > iframe {
    width:100%;
    height:100%;
  }
}