.gbc_MonitorDebugTreeItemWidget {
  display: block;
  .gbc_MonitorDebugTreeItemWidget {
    padding-left: 20px;
  }
  > .description{
    height:18px;
    display: flex;
    flex-direction: row;
    &:hover {
      background: $gbc-primary-light-color;
      cursor: pointer;
    }
    > .icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-color: $gbc-primary-medium-color;
      color: $gbc-secondary-text-color;
      text-align: center;
      font-weight: bold;
      text-shadow: 0 0 2px $text-dark-100;
      &::before {
        content:'-';
      }
    }
    > .label {
      margin-left: 4px;
      flex: 1 1 auto;
    }
  }
  > ul {
    list-style-type: none;
  }
  &.collapsed {
    > .description {
      > .icon {
        &::before {
          content: '+';
        }
      }
    }
    > ul {
      display: none;
    }
  }
  &.highlighted {
    > .description {
      background-color: $gbc-primary-medium-color;
      color: $gbc-secondary-text-color;
    }
  }
}