$gbc-StartMenuCommand-hover: $gbc-primary-light-color;

.gbc_StartMenuCommandWidget {
  display: flex;
  padding: 8px 16px;
  margin-left: 16px;
  align-items: center;

  &:hover {
    background-color: $gbc-StartMenuCommand-hover;
  }

  &.disabled {
    color: $text-dark-26;
  }

  > .gbc_ImageWidget {
    margin-right: 8px;
    display: inherit;
    flex: 0;
  }

  > .gbc_startMenuCommandText {
    flex: 1 1 auto;
    white-space: nowrap;
  }
}
