.gbc_SessionWaitingEndWidget {
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
}
[__SessionWaitingEndWidget].mt-card {
  margin: 16px;
}
[__SessionWaitingEndWidget].mt-card-richhead {
  display: flex;
  align-items: center;
}
[__SessionWaitingEndWidget].mt-card-header-text {
        padding-left: 32px;
      }
[__SessionWaitingEndWidget].message {
        border-bottom: 1px solid $text-dark-12;
      }
[__SessionWaitingEndWidget].message {
  padding: 16px 32px;
}
[__SessionWaitingEndWidget].mt-card-header-pic {
  position: absolute;
    top: 30px;
  right: 30px;
  > img {
    width: 130px;
    height: 130px;
  }
}
